@charset "UTF-8";
/* Custom tag colors for specific tags */
body {
  --gdlf-editor-font-family: "Delafuerza Print", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
}

.theme-light {
  --bold-italic-adjust-l: -5%;
  --bold-italic-adjust-s: 0.4;
}

.theme-dark {
  --bold-italic-adjust-l: 10%;
  --bold-italic-adjust-s: 0.3;
}

body.gdlf-overlay.gdlf-bold-italic-to-accent-color {
  --bold-color: hsl(
    calc(var(--accent-h) - 7),
    calc(var(--accent-s) * var(--bold-italic-adjust-s)),
    calc(var(--accent-l) + var(--bold-italic-adjust-l))
  );
  --italic-color: hsl(
    calc(var(--accent-h) + 15),
    calc(var(--accent-s) * var(--bold-italic-adjust-s)),
    calc(var(--accent-l) + var(--bold-italic-adjust-l))
  );
}
body.gdlf-overlay.gdlf-bold-italic-to-accent-color strong,
body.gdlf-overlay.gdlf-bold-italic-to-accent-color .cm-strong {
  color: var(--bold-color);
}
body.gdlf-overlay.gdlf-bold-italic-to-accent-color em,
body.gdlf-overlay.gdlf-bold-italic-to-accent-color .cm-em {
  color: var(--italic-color);
}

body {
  --saturation-mod-s: 0;
}

.gdlf-overlay.theme-light {
  --saturation-mod-s: -35%;
}

.gdlf-overlay.theme-dark {
  --saturation-mod-s: -30%;
}

body.gdlf-overlay.gdlf-cursor-and-activeline {
  --activeline-border-radius: 0.9ex;
  --active-background-color-2: hsla(var(--accent-h), 70%, calc(var(--accent-s) + var(--saturation-mod-s)), 4%);
  --active-background-color-3: hsla(var(--accent-h), 90%, calc(var(--accent-s) + var(--saturation-mod-s)), 8%);
  --active-background-color-1: hsla(var(--accent-h), 70%, calc(var(--accent-s) + var(--saturation-mod-s)), 12%);
}
body.gdlf-overlay.gdlf-cursor-and-activeline div.cm-active.cm-line,
body.gdlf-overlay.gdlf-cursor-and-activeline div.cm-content div.cm-active.cm-line.HyperMD-list-line {
  background: linear-gradient(0deg, var(--active-background-color-3) 5%, var(--active-background-color-2) 25%, var(--active-background-color-1) 70%);
  border-radius: var(--activeline-border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
body.gdlf-overlay.gdlf-cursor-and-activeline .markdown-source-view .cm-gutters .cm-lineNumbers div.cm-gutterElement.cm-active {
  background: linear-gradient(0deg, var(--active-background-color-3) 5%, var(--active-background-color-2) 25%, var(--active-background-color-1) 70%);
  border-radius: var(--activeline-border-radius);
  border-top: 1px solid var(--background-secondary-alt);
  border-bottom: 1px solid var(--background-secondary-alt);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body.gdlf-overlay.gdlf-background:is(.theme-dark) {
  --background-primary: hsl(var(--accent-h), 100%, 7%);
  --background-primary-alt: hsl(var(--accent-h), 100%, 20%);
}

body.gdlf-overlay.gdlf-background:is(.theme-light) {
  --background-primary: hsl(var(--accent-h), 100%, 96%);
  --background-primary-alt: hsl(var(--accent-h), 100%, 90%);
}

body.gdlf-overlay.gdlf-background-secondary:is(.theme-dark) {
  --background-secondary: hsl(var(--accent-h), 80%, 4%);
  --background-secondary-alt: hsl(var(--accent-h), 80%, 10%);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: hsl(var(--accent-h), 80%, 20%);
  --background-modifier-border-hover: hsl(var(--accent-h), 80%, 30%);
  --background-modifier-border-focus: hsl(var(--accent-h), 80%, 40%);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: hsl(var(--accent-h), 100%, 20%);
  --tab-background-active: var(--background-primary);
  --tab-container-background: var(--background-secondary);
  --tab-divider-color: var(--background-modifier-border-hover);
  --tab-outline-color: var(--divider-color);
}

body.gdlf-overlay.gdlf-background-secondary:is(.theme-light) {
  --background-secondary: hsl(var(--accent-h), 80%, 94%);
  --background-secondary-alt: hsl(var(--accent-h), 80%, 90%);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: hsl(var(--accent-h), 80%, 80%);
  --background-modifier-border-hover: hsl(var(--accent-h), 80%, 70%);
  --background-modifier-border-focus: hsl(var(--accent-h), 80%, 60%);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: hsl(var(--accent-h), 100%, 80%);
  --tab-background-active: var(--background-primary);
  --tab-container-background: var(--background-secondary);
  --tab-divider-color: var(--background-modifier-border-hover);
  --tab-outline-color: var(--divider-color);
}

.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-source-view {
  font-family: var(--gdlf-editor-font-family);
}

body.gdlf-overlay {
  --gdlf-editor-font-size: 90%;
  --gdlf-frontmatter-font-size: 85%;
  --gdlf-codeblock-font-size: 85%;
  --gdlf-inline-code-font-size: 95%;
  --gdlf-inline-code-color: var(--text-accent);
  --gdlf-tag-font-size: 90%;
}

body.gdlf-overlay.gdlf-editor-font .cm-hmd-frontmatter {
  font-size: var(--gdlf-frontmatter-font-size);
}
body.gdlf-overlay.gdlf-editor-font .cm-hmd-codeblock {
  font-size: var(--gdlf-codeblock-font-size);
}
body.gdlf-overlay.gdlf-editor-font .cm-s-obsidian span.cm-inline-code,
body.gdlf-overlay.gdlf-editor-font .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  font-size: var(--gdlf-inline-code-font-size);
  color: var(--gdlf-inline-code-color);
}
body.gdlf-overlay.gdlf-editor-font .theme-light .markdown-preview-view code,
body.gdlf-overlay.gdlf-editor-font .theme-light .markdown-preview-view kbd,
body.gdlf-overlay.gdlf-editor-font .theme-light .markdown-rendered code,
body.gdlf-overlay.gdlf-editor-font .theme-light .markdown-rendered kbd,
body.gdlf-overlay.gdlf-editor-font .theme-dark .markdown-preview-view code,
body.gdlf-overlay.gdlf-editor-font .theme-dark .markdown-preview-view kbd,
body.gdlf-overlay.gdlf-editor-font .theme-dark .markdown-rendered code,
body.gdlf-overlay.gdlf-editor-font .theme-dark .markdown-rendered kbd {
  color: var(--gdlf-inline-code-color);
}
body.gdlf-overlay.gdlf-editor-font .cm-hashtag.cm-hashtag-end, body.gdlf-overlay.gdlf-editor-font .cm-hashtag.cm-hashtag-begin {
  font-size: var(--gdlf-tag-font-size);
}
body.gdlf-overlay.gdlf-editor-font .tag {
  font-size: var(--gdlf-tag-font-size);
}
body.gdlf-overlay.gdlf-editor-font .theme-dark,
body.gdlf-overlay.gdlf-editor-font .cm-s-obsidian span.cm-inline-code,
body.gdlf-overlay.gdlf-editor-font .theme-dark,
body.gdlf-overlay.gdlf-editor-font .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  border-color: var(--interactive-accent-tint);
}

body.gdlf-overlay.gdlf-embed-blocks div.markdown-source-view.is-live-preview div.cm-editor div.cm-contentContainer div.internal-embed div.markdown-embed-content.markdown-embed-block > div > div {
  font-size: 110%;
}
body.gdlf-overlay.gdlf-embed-blocks div.markdown-source-view.is-live-preview div.cm-editor div.cm-contentContainer div.internal-embed div.markdown-embed-content.markdown-embed-block {
  margin-bottom: -0.5em;
}
body.gdlf-overlay.gdlf-embed-blocks div.markdown-source-view.is-live-preview div.cm-editor div.cm-contentContainer div.internal-embed div.markdown-embed-content.markdown-embed-block > div {
  margin-bottom: 0;
}
body.gdlf-overlay.gdlf-embed-blocks div.markdown-source-view.is-live-preview div.cm-editor div.cm-contentContainer div.internal-embed {
  margin-bottom: -1em;
}

body.gdlf-overlay.gdlf-file-header {
  --header-border-color: transparent;
  --header-size: inherit;
}
body.gdlf-overlay.gdlf-file-header .theme-dark {
  --active-file-text-color: inherit;
}
body.gdlf-overlay.gdlf-file-header .theme-light {
  --active-file-text-color: inherit;
}
body.gdlf-overlay.gdlf-file-header .theme-dark div.workspace-split.mod-vertical.mod-root > div.workspace-leaf.mod-active > div > div.view-header > div.view-header-title-container > div,
body.gdlf-overlay.gdlf-file-header .theme-light div.workspace-split.mod-vertical.mod-root > div.workspace-leaf.mod-active > div > div.view-header > div.view-header-title-container > div {
  color: var(--active-file-text-color);
  font-weight: 900;
}
body.gdlf-overlay.gdlf-file-header .theme-dark .view-header,
body.gdlf-overlay.gdlf-file-header .theme-light .view-header {
  background-color: var(--background-secondary);
}
body.gdlf-overlay.gdlf-file-header .theme-dark .view-header div,
body.gdlf-overlay.gdlf-file-header .theme-light .view-header div {
  color: var(--text-faint);
}
body.gdlf-overlay.gdlf-file-header .theme-dark .view-header a,
body.gdlf-overlay.gdlf-file-header .theme-light .view-header a {
  color: var(--text-normal);
}
body.gdlf-overlay.gdlf-file-header .workspace-leaf.mod-active .view-header div.view-header-title {
  background: linear-gradient(0.25turn, var(--background-secondary), var(--background-match-highlight), var(--background-secondary-alt));
}
body.gdlf-overlay.gdlf-file-header .workspace-leaf.mod-active div.view-header div.view-header-title-container div:first-child:before {
  content: " 🤓";
  position: relative;
  top: 0.2em;
}
body.gdlf-overlay.gdlf-file-header .workspace-leaf:not(.mod-active) .view-header {
  --set-opacity: 0.4;
}
body.gdlf-overlay.gdlf-file-header .workspace-leaf:not(.mod-active) .view-header div.view-header-title:before {
  content: "💤 ";
  opacity: var(--set-opacity);
}
body.gdlf-overlay.gdlf-file-header .workspace-leaf:not(.mod-active) .view-header div.view-header-title:after {
  content: " 💤";
  opacity: var(--set-opacity);
}
body.gdlf-overlay.gdlf-file-header .workspace-tab-header.is-active .workspace-tab-header-inner-title:before {
  content: "✨";
  font-size: 70%;
  position: relative;
  top: -0.3em;
}

body:is(.theme-light, .theme-dark) div.workspace-tab-header-inner-title {
  font-weight: 500;
}
body:is(.theme-light, .theme-dark) div.workspace-tab-header:is(.is-active) div.workspace-tab-header-inner-title {
  font-weight: 900;
}
body:is(.theme-light, .theme-dark) div.workspace-tab-header:is(.is-active) div.workspace-tab-header-inner-title :before {
  content: "✨";
  font-size: 70%;
  position: relative;
  top: -0.3em;
}

body.gdlf-overlay.gdlf-fold-ellipsis span.cm-foldPlaceholder::after {
  font-weight: 900;
  content: "⊞";
  vertical-align: sub;
}
body.gdlf-overlay.gdlf-fold-ellipsis div.HyperMD-header {
  border-bottom: 3px dotted var(--interactive-accent-base);
}

body.gdlf-overlay.gdlf-footnotes {
  --citation-color: var(--text-faint);
  --citation-link-font-weight: 600;
  --footnotes-font-weight: 900;
  --footnotes-text-font-size: 1.59em;
  --footnote-shadow: var(--background-primary);
}
body.gdlf-overlay.gdlf-footnotes a.footnote-link {
  font-weight: var(--citation-link-font-weight);
  color: var(--citation-color);
}
body.gdlf-overlay.gdlf-footnotes .cm-s-obsidian span.cm-footref {
  font-size: 0.73em;
}
body.gdlf-overlay.gdlf-footnotes a.footnote-backref.footnote-link {
  font-weight: normal;
}
body.gdlf-overlay.gdlf-footnotes a.footnote-backref.footnote-link::before {
  content: "\d\a\d\a  <<< return to citation ";
  font-size: 90%;
  white-space: pre;
  border-bottom: 3px double var(--footnote-shadow);
  border-top: 3px double var(--footnote-shadow);
  border-radius: 0.5em;
}
body.gdlf-overlay.gdlf-footnotes a.footnote-backref.footnote-link::after {
  content: " ";
  border-left: none;
}
body.gdlf-overlay.gdlf-footnotes section.footnotes::before {
  color: var(--text-title-h1);
  content: "Footnotes";
  font-size: var(--footnotes-text-font-size);
  font-weight: var(--footnotes-font-weight);
  border-top: 0.1em solid var(--background-modifier-border);
  display: block;
  clear: both;
  width: 100%;
}
body.gdlf-overlay.gdlf-footnotes section.footnotes hr {
  display: none;
}
body.gdlf-overlay.gdlf-footnotes section.footnotes ol hr {
  display: block;
  height: 0.1em;
  margin: 0.2em 0 0.2em 0;
}
body.gdlf-overlay.gdlf-footnotes section.footnotes > ol > li {
  border-bottom: 0.27em dotted var(--background-modifier-border);
}
body.gdlf-overlay.gdlf-footnotes section.footnotes > ol > li::marker {
  font-weight: var(--citation-link-font-weight);
}

body.gdlf-overlay.gdlf-header-colors-on-accent {
  --hue-difference: 16;
  --h5-color: hsl(calc(var(--accent-h) + (var(--hue-difference) * 4)), var(--accent-s), var(--accent-l));
  --h4-color: hsl(calc(var(--accent-h) - (var(--hue-difference) * 3)), var(--accent-s), var(--accent-l));
  --h3-color: hsl(calc(var(--accent-h) + (var(--hue-difference) * 2)), var(--accent-s), var(--accent-l));
  --h2-color: hsl(calc(var(--accent-h) - (var(--hue-difference) * 1)), var(--accent-s), var(--accent-l));
  --h1-color: hsl(calc(var(--accent-h) + (var(--hue-difference) * 0)), var(--accent-s), var(--accent-l));
  --h6-color: var(--h5-color);
}

body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-inline-code.cm-header-1,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-header-1,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-hashtag.cm-header-1 {
  font-size: 1.1em;
}
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-inline-code.cm-header-2,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-header-2,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-hashtag.cm-header-2 {
  font-size: 1.067em;
}
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-inline-code.cm-header-3,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-header-3,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-hashtag.cm-header-3 {
  font-size: 0.913em;
}
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-inline-code.cm-header-4,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-header-4,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-hashtag.cm-header-4 {
  font-size: 0.836em;
}
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-inline-code.cm-header-5,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-header-5,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-hashtag.cm-header-5 {
  font-size: 0.66em;
}
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-inline-code.cm-header-6,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-header-6,
body.gdlf-overlay.gdlf-header-font-sizes span.cm-header.cm-hashtag.cm-header-6 {
  font-size: 0.66em;
}
body.gdlf-overlay.gdlf-header-font-sizes h1 {
  font-size: 1.43em;
}
body.gdlf-overlay.gdlf-header-font-sizes h2 {
  font-size: 1.3156em;
}
body.gdlf-overlay.gdlf-header-font-sizes h3 {
  font-size: 1.1869em;
}
body.gdlf-overlay.gdlf-header-font-sizes h4 {
  font-size: 1.0868em;
}
body.gdlf-overlay.gdlf-header-font-sizes h5,
body.gdlf-overlay.gdlf-header-font-sizes h6 {
  font-size: 0.858em;
}

body.gdlf-overlay.gdlf-images div.cm-contentContainer > div > img,
body.gdlf-overlay.gdlf-images div.view-content > div.markdown-source-view > div > div > div.cm-contentContainer > div > div > img:not(.cm-widgetBuffer),
body.gdlf-overlay.gdlf-images div.view-content > div.markdown-reading-view > div.markdown-preview-view > div > div > p > img {
  outline: 0.2ex dashed var(--interactive-accent);
  border-radius: 0.2em;
}

body.gdlf-overlay.gdlf-links span.cm-hmd-internal-link.cm-link-alias span.cm-underline {
  text-decoration-style: dashed;
}
body.gdlf-overlay.gdlf-links span.cm-link span.cm-underline:not(:hover) {
  text-decoration-style: dashed;
}
body.gdlf-overlay.gdlf-links span.external-link {
  --link-external-decoration: none;
}
body.gdlf-overlay.gdlf-links span.external-link:hover {
  text-decoration-style: dotted;
}
body.gdlf-overlay.gdlf-links span.cm-link span.cm-underline {
  overflow-wrap: break-word;
}

body.gdlf-overlay.gdlf-mark-html .theme-light.pt-highlight-text-color-lt mark,
body.gdlf-overlay.gdlf-mark-html .theme-light.pt-highlight-text-color-lt .cm-highlight,
body.gdlf-overlay.gdlf-mark-html .theme-dark.pt-highlight-text-color-dt mark,
body.gdlf-overlay.gdlf-mark-html .theme-dark.pt-highlight-text-color-dt .cm-highlight {
  color: var(--text-normal);
}
body.gdlf-overlay.gdlf-mark-html mark,
body.gdlf-overlay.gdlf-mark-html .cm-highlight {
  font-size: 1em;
  border-radius: 0;
  padding-left: 0.3ex;
  padding-right: 0.3ex;
}
body.gdlf-overlay.gdlf-mark-html div.view-content div.markdown-reading-view mark,
body.gdlf-overlay.gdlf-mark-html .cm-s-obsidian span.cm-formatting-highlight,
body.gdlf-overlay.gdlf-mark-html .cm-s-obsidian span.cm-highlight {
  background-color: hsla(calc(var(--accent-h) + 25), 100%, calc(50% + var(--luminence-mod-l)), 0.6);
  text-shadow: 1px 1px 1px hsla(calc(var(--accent-h) - 45), 100%, 50%, 0.7);
}
body.gdlf-overlay.gdlf-mark-html div.view-content div.markdown-reading-view mark {
  font-weight: 350;
}

body.gdlf-overlay.gdlf-status-bar div.status-bar {
  position: relative;
}
body.gdlf-overlay.gdlf-status-bar div.status-bar .status-bar-item {
  white-space: nowrap;
}

body.gdlf-overlay:is(.theme-dark) {
  --tag-text-color: var(--text-normal);
}

body.gdlf-overlay:is(.theme-light) {
  --tag-text-color: var(--text-normal);
}

body.gdlf-overlay.gdlf-tags-to-pills .cm-hashtag.cm-hashtag-end, body.gdlf-overlay.gdlf-tags-to-pills .cm-hashtag.cm-hashtag-begin {
  vertical-align: top;
  font-weight: 600;
  color: var(--tag-text-color);
  border-radius: 1.7ex;
  padding-top: 0.3ex;
  padding-bottom: 0.2ex;
}
body.gdlf-overlay.gdlf-tags-to-pills .cm-hashtag.cm-hashtag-begin {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0.1ex;
}
body.gdlf-overlay.gdlf-tags-to-pills .cm-hashtag.cm-hashtag-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 0.4ex;
  margin-right: -0.5ex;
}
body.gdlf-overlay.gdlf-tags-to-pills .cm-hashtag.cm-hashtag-end:hover,
body.gdlf-overlay.gdlf-tags-to-pills .cm-hashtag.cm-hashtag-begin:hover {
  text-decoration: underline;
  outline: 0.2ex solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}
body.gdlf-overlay.gdlf-tags-to-pills .tag {
  border: none;
  color: var(--tag-text-color);
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  border-radius: 1.7ex;
  padding: 0 0.3ex 0 0;
  margin: 0.1ex 0 0 -0.2ex;
  border-bottom-width: 0.2ex;
  position: relative;
  top: -0.1em;
}
body.gdlf-overlay.gdlf-tags-to-pills .tag:hover {
  border-style: dashed;
  outline: 0.3ex solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}
body.gdlf-overlay.gdlf-tags-to-pills .theme-light .tag:hover {
  filter: drop-shadow(0.25rem 0 0.75rem var(--hover-color));
}
body.gdlf-overlay.gdlf-tags-to-pills .theme-dark .tag:hover {
  filter: drop-shadow(0.25rem 0 0.75rem var(--hover-color));
}

body.gdlf-overlay {
  --school-h: 271;
  --server-h: 324;
  --banner-h: 120;
  --tech-h: 300;
  --app-h: 226;
  --slack-h: 65;
  --gdlf-h: 310;
  --issue-h: 0;
  --knowledge-h: 153;
  --default-h: 204;
}

body.gdlf-overlay.theme-dark {
  --school-color: hsl(var(--school-h), 55%, 36%);
  --server-color: hsl(var(--server-h), 79%, 40%);
  --banner-color: hsl(var(--banner-h), 67%, 24%);
  --tech-color: hsl(var(--tech-h), 83%, 39%);
  --app-color: hsl(var(--app-h), 73%, 36%);
  --slack-color: hsl(var(--slack-h), 90%, 27%);
  --gdlf-color: hsl(var(--gdlf-h), 91%, 30%);
  --issue-color: hsl(var(--issue-h), 87%, 38%);
  --knowledge-color: hsl(var(--knowledge-h), 81%, 30%);
  --tag-default-bg-color: hsl(var(--default-h), 91%, 31%);
}

body.gdlf-overlay.theme-light {
  --school-color: hsl(var(--school-h), 61%, 77%);
  --server-color: hsl(var(--server-h), 67%, 75%);
  --banner-color: hsl(var(--banner-h), 59%, 75%);
  --tech-color: hsl(var(--tech-h), 60%, 72%);
  --app-color: hsl(var(--app-h), 77%, 85%);
  --slack-color: hsl(var(--slack-h), 66%, 67%);
  --gdlf-color: hsl(var(--gdlf-h), 93%, 83%);
  --issue-color: hsl(var(--issue-h), 100%, 74%);
  --knowledge-color: hsl(var(--knowledge-h), 67%, 64%);
  --tag-default-bg-color: hsl(var(--default-h), 25%, 71%);
}

body.gdlf-overlay.gdlf-tag-colors-by-name.theme-dark {
  --school-color: hsl(calc(var(--accent-h) - 4), 47%, 44%);
  --server-color: hsl(calc(var(--accent-h) - 254), 47%, 35%);
  --banner-color: hsl(calc(var(--accent-h) - 102), 88%, 28%);
  --tech-color: hsl(calc(var(--accent-h) - 124), 75%, 30%);
  --app-color: hsl(calc(var(--accent-h) - 55), 84%, 42%);
  --slack-color: hsl(calc(var(--accent-h) + 49), 65%, 31%);
  --gdlf-color: hsl(calc(var(--accent-h) + 71), 72%, 45%);
  --issue-color: hsl(calc(var(--accent-h) - 254), 100%, 61%);
  --knowledge-color: hsl(calc(var(--accent-h) - 215), 88%, 44%);
  --tag-default-bg-color: hsl(calc(var(--accent-h) - 36), calc(var(--accent-s) * 0.8), 23%);
}

body.gdlf-overlay.gdlf-tag-colors-by-name.theme-light {
  --school-color: hsl(251, 77%, 91%);
  --server-color: hsl(calc(var(--accent-h) - 254), 79%, 87%);
  --banner-color: hsl(calc(var(--accent-h) - 134), 59%, 75%);
  --tech-color: hsl(calc(var(--accent-h) - 193), 59%, 75%);
  --app-color: hsl(calc(var(--accent-h) - 42), 77%, 85%);
  --slack-color: hsl(calc(var(--accent-h) - 217), 66%, 57%);
  --gdlf-color: hsl(calc(var(--accent-h) + 56), 93%, 73%);
  --issue-color: hsl(calc(var(--accent-h) - 254), 100%, 72%);
  --knowledge-color: hsl(calc(var(--accent-h) - 194), 79%, 71%);
  --tag-default-bg-color: hsl(calc(var(--accent-h) - 36), calc(var(--accent-s) * 0.8), 87%);
}

body.gdlf-overlay:is(.theme-dark, .theme-light) .tag,
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin] {
  background-color: var(--tag-default-bg-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#org/sch/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*="org/sch"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*="org/sch"] {
  background-color: var(--school-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#xe/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#server/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=xe],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=server],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=xe],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=server] {
  background-color: var(--server-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#app/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=app],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=app] {
  background-color: var(--app-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#app/Banner/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=Banner],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=Banner] {
  background-color: var(--banner-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#app/Slack"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=Slack],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=Slack] {
  background-color: var(--slack-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#gdlf"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=gdlf],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=gdlf] {
  background-color: var(--gdlf-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#issue"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=issue],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=issue] {
  background-color: var(--issue-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#tech/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-end][class*=tech],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class~=cm-hashtag][class~=cm-hashtag-begin][class*=tech] {
  background-color: var(--tech-color);
}
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#conf/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#k/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) .tag[href^="#doc/"],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class*=tag-conf][class~=cm-hashtag-end][class~=cm-hashtag],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class*=tag-doc][class~=cm-hashtag-end][class~=cm-hashtag],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class*=tag-k][class~=cm-hashtag-end][class~=cm-hashtag],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class*=tag-conf][class~=cm-hashtag-begin][class~=cm-hashtag],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class*=tag-doc][class~=cm-hashtag-begin][class~=cm-hashtag],
body.gdlf-overlay:is(.theme-dark, .theme-light) span[class*=tag-k][class~=cm-hashtag-begin][class~=cm-hashtag] {
  background-color: var(--knowledge-color);
}

/* @settings

name: GDLF Overlay Snippet features and settings
id: gdlf-enable-overlay-features
settings:
  - 
    id: gdlf-overlay
    title: ⏯️ Use GDLF Overlay (enable/disable ALL)
    description: "Adds gdlf-overlay class to the body element (see: https://github.com/mgmeyers/obsidian-style-settings#class-toggle). This class enables/disables *all* features of gdlf-overlay."
    type: class-toggle
    default: true
  -
    id: gdlf-bold-italic-to-accent-color
    title: 🌞 Bold and Italic text based on Accent Color
    description: For the Default theme, this will make bold and italic text into a color based on the current Obsidian 1.0 accent color
    type: class-toggle
    default: true
  -
    id: gdlf-cursor-and-activeline
    title: 👁️ Background for Active line in Editor
    description: This allows a background different from the primary background for the line you're editing. The line number highlight is based on looking at CSS for Cyber Glow theme of Obsidian 1.0.
    type: class-toggle  
    default: true
  - 
    id: gdlf-background
    title: 🌈 Adjust background tones to match the Accent Color
    description: For all backgrounds in Obsidian (primary, secondary, 
    type: class-toggle  
    default: true
  - 
    id: gdlf-background-secondary
    title: 🌈 Adjust secondary (app) background tones to match the Accent Color
    description: The secondary background for Obsidian will be a tone of the Accent Color you choose.
    type: class-toggle  
    default: true    
  - 
    id: gdlf-embed-blocks
    title: ⚖️ Embed blocks a bit larger
    description: Makes embed blocks take up a pinch less space while increasing the font-size a bit.
    type: class-toggle
    default: true
  -
    id: gdlf-file-header
    title: ✨ Active File Header Emoji
    description: Adds an emoji to the file header and the tab it's on
    type: class-toggle
    default: true
  -
    id: gdlf-fold-ellipsis
    title: ➕ Add Emoji to Fold Ellipsis
    description: Adds an emoji to the fold ellipsis (e.g. fold/unfold a header)
    type: class-toggle
    default: true
  -
    id: gdlf-footnotes
    title: 📔 Footnote Decorations
    description: Adds custom formatting to Footnotes (not tested since Obsidian 1.0)
    type: class-toggle
    default: true
  -
    id: gdlf-header-colors-on-accent
    title: 🖌️ Header Colors based on Accent Color
    description: This makes the header colors (H1, H2, etc.) display as different hues of the Obsidian 1.0 accent color
    type: class-toggle
    default: true
  -
    id: gdlf-header-font-sizes
    title: 📐 Standardize Header Sizes
    description: This makes the header font sizes standard for the Default Obsidian 1.0 theme (might work for others, too)
    type: class-toggle
    default: true
  -
    id: gdlf-images
    title: 🎬 Images Without Animation
    description: This keeps images from beeing animated with :hover 
    type: class-toggle
    default: true
  -
    id: gdlf-links
    title: 🔗 External link Emojis
    description: Adds a :before and :after set of emojis to external links.
    type: class-toggle
    default: true
  -
    id: gdlf-mark-html
    title: 🎨 Highlights based on Accent color
    description: Highlight and mark element background color will be based on the selected Obsidian 1.0 accent color.
    type: class-toggle
    default: true
  -
    id: gdlf-status-bar
    title: ⬛ Solid Status Bar
    description: Makes the status bar sit at the bottom of the Obsidian 1.0 window for the Default theme.
    type: class-toggle
    default: true
  -
    id: gdlf-tags-to-pills
    title: 🏷️ Tag Pills
    description: Allows tags to display inside a bubble with a colorful background. It's based on the Obsidian Dark Remix theme maybe from 2020. It had "pills" surrounding its tags. 
    type: class-toggle
    default: true
  -
    id: gdlf-tag-colors-by-name
    title: 🏷️🖌️ Tag Colors by Name
    description: Allows certain-named tags to display with specific colors. At present, only adjustable at the level of SCSS/CSS.
    type: class-toggle
    default: true    
*/
/* @settings

name: GDLF Overlay Text Adjustments
id: gdlf-enable-overlay-features
settings:
  - 
    id: gdlf-editor-font-family
    title: 📏🔨 Editor font-family
    description: Change the editor font (via gdlf-editor-font.scss)
    type: variable-select
    default: '"Delafuerza Print","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    options: 
    -
      label: Default
      value: inherit
    -
      label: Bradley Hand
      value: '"Bradley Hand","Delafuerza Print","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'  
    -
      label: Book Antiqua
      value: '"Book Antiqua","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Cascadia Mono PL
      value: '"Cascadia Mono PL","FiraCode Nerd Font","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Corbel
      value: 'Corbel,"FiraCode Nerd Font","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Consolas
      value: 'Consolas,"FiraCode Nerd Font","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Convection
      value: 'Convection,"FiraCode Nerd Font","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: DM Mono
      value: '"DM Mono","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: FiraCode
      value: '"FiraCode","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: FiraMono Nerd Font
      value: '"FiraMono Nerd Font","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Hack Nerd Font
      value: '"Hack Nerd Font","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Inconsolata
      value: 'Inconsolata,"Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Ink Journal
      value: '"Ink Journal","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Lucida Console
      value: '"Lucida Console","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Noto Sans
      value: '"Noto Sans","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Prompt
      value: 'Prompt,"Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Times New Roman
      value: '"Times New Roman","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Veranda
      value: 'Veranda,"Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
    -
      label: Inter
      value: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif
    -
      label: 💎 DeLaFuerza Print (GDLF Overlay Default)
      description: The GDLF Overlay default font via @font-family declaration
      value: '"Delafuerza Print","Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif'
  -
    id: gdlf-editor-font-size
    title: 📏🔨 Editor font size (adjustment)
    description: The percent font size when in Edit mode. Default is 90%
    type: variable-number-slider
    format: '%'
    default: 90
    min: 60
    max: 130
    step: 5
  -
    id: gdlf-tag-font-size
    title: 🏷️🔨 Tag font size (adjustment)
    description: The percent font size for tags in edit and preview. Default is 90%
    type: variable-number-slider
    format: '%'
    default: 90
    min: 60
    max: 130
    step: 5
  -
    id: gdlf-frontmatter-font-size
    title: ️🔨 Frontmatter font size (adjustment)
    description: The Frontmatter percent font size when in Edit mode. Default is 85%
    type: variable-number-slider
    format: '%'
    default: 85
    min: 60
    max: 130
    step: 5
  -
    id: gdlf-codeblock-font-size
    title: 🧑‍💻 Code block font size (adjustment)
    description: The Code block percent font size when in Edit mode. Default is 85%
    type: variable-number-slider
    format: '%'
    default: 85
    min: 60
    max: 130
    step: 5
  -
    id: gdlf-inline-code-font-size
    title: 🧑‍💻 Inline code font size (adjustment)
    description: The inline code percent font size when in Edit mode. Default is 95%
    type: variable-number-slider
    format: '%'
    default: 95
    min: 60
    max: 130
    step: 5
  -
    id: gdlf-inline-code-color
    title: 🧑‍💻🎨 Inline code text color
    description: The inline code color. Default is var(--text-accent). You may change it to whatever, since it's a string field
    default: "var(--text-accent)"
    type: variable-text
*/
