// This is the place I put styles that don't
//  have another place (yet)
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  // // The following still only applies to multiple cursors and 
  // //  not the active cursor
  // div.cm-cursorLayer.cm-vimCursorLayer, div.cm-layer.cm-layer-above.cm-cursorLayer {
  // }

  body {

    // Make it so metadata doesn't display while reading (because I don't care about it then)
    --metadata-display-reading: none;

    // // BEGIN DIRECT FROM app.css
    // /* 
    // this stuff, from app.css, is for the multi-cursor caret.
    //   the primary caret is always from the system via 
    //   the Electron interface (presuming the app is still an
    //   Electron app).
    // */
    // .cm-s-obsidian .cm-cursor,
    // .cm-s-obsidian .cm-dropCursor {
    //   border-left-color: var(--caret-color);
    // }

    // .cm-fat-cursor-mark {
    //   background-color: rgba(20, 255, 20, 0.5);
    //   -webkit-animation: blink 1.06s steps(1) infinite;
    //   -moz-animation: blink 1.06s steps(1) infinite;
    //   animation: blink 1.06s steps(1) infinite;
    // }
    // // END DIRECT FROM app.css

    div {
      // Reduces how much the window minimize / close buttons take up
      //  by reducing the right padding for the right leaf tab buttons.
      --frame-right-space: 100px;
      --gdlf-oil-slick: #ff000051, #cfe60058, #09ff0051, #00208a58, #55008a58, transparent 50%;
      // --animation-for-app-edge-background: 3.0s ease-in-out 5s infinite heartbeat-of-gdlf;
      --app-edge-background-size: 75ex;
    }

    div.titlebar-button-container.mod-right div.titlebar-button {
      // Makes it so right leaf buttons show after reduction 
      //  of --frame-right-space from default value of 126px
      padding: 0 1.5ex;
    }

    div.titlebar-button-container.mod-right {
      // Makes it so app border displays around top right corner
      margin: 0.3ex;
    }

    --list-indent: 1.5em; // reduced from default preview list-indent of 2.5em
    // Whatever the accent hue selected, do the opposite at full saturation, 50% lightness
    &.theme-dark {
    --caret-color: rgb(from hsl(calc(var(--accent-h) + 180), 100%, 50%) r g b);
    }
    &.theme-light{
    --caret-color: rgb(from hsl(calc(var(--accent-h) + 180), 10%, 50%) r g b);
    }

    --luminence-mod-l: 0;
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    // Comments are easily visible in editor view
    --code-comment: var(--color-base-60);

    // Start and end '%%' for comments still display as faint text
    .cm-comment-start,
    .cm-comment-end {
      color: var(--text-faint);
    }

    // @keyframes cm-blink {
    //   50% {
    //     opacity: 0;
    //   }
    // }

    // @keyframes cm-blink2 {
    //   50% {
    //     opacity: 0;
    //   }

    //   0% {
    //     opacity: 1;
    //     background-color: var(--text-accent);
    //   }
    // }

    .markdown-rendered button.copy-code-button {
      font-weight: bold;
      text-shadow: 1px 1px 2px gray;
    }


    // // From Faded theme:
    // --custom-global-drop-shadow: drop-shadow(2px 2px 1px gray) drop-shadow(0px 0px 2px gray);

    // // From Faded theme:
    // div.view-content > div.markdown-source-view.cm-s-obsidian.mod-cm6.node-insert-event.is-readable-line-width.is-live-preview.is-folding > div > div.cm-scroller > div.cm-sizer > div.cm-contentContainer > div.cm-content.cm-lineWrapping > div.cm-active {
    //   filter: var(--custom-global-drop-shadow);
    //   /* filter: drop-shadow(2px 2px 1px black) drop-shadow(0px 0px 2px black); */
    //   /* filter: drop-shadow(2px 2px 1px var(--custom-black-300)) drop-shadow(2px 2px 1px var(--custom-black-300)); */
    //   /* filter: drop-shadow(2px 2px 1px black) drop-shadow(2px 2px 1px black); */
    // }

    div {
      // just adds enough specificity to override app.css
      --background-modifier-hover: rgba(var(--mono-rgb-100), 0.25);
      --nav-item-background-active: rgba(var(--mono-rgb-100), 0.20);
    }
  }

  // Show a body border (handy for multiple windows, imo)
  //  EXCEPT if this is a mobile app instance
  body:not(.is-mobile) {
    //border: 0.3ex dashed hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.0);
    border: 0.3ex dashed transparent;

    &.is-focused {
      border: 0.3ex dashed hsla(calc(var(--accent-h) - 180), var(--accent-s), calc(var(--accent-l) + 5%), 0.5);
    }
  }

  // -- Overrides for any theme
  #{$overlayClasses}.theme-light {
    --luminence-mod-l: 15%;
    /*
    from app.css:
    Accent HSL values 
    --accent-h: 254;
    --accent-s: 80%;
    --accent-l: 68%;
    */
    --text-selection: hsla(calc(var(--accent-h) + 90), var(--accent-s), var(--accent-l), 0.35);

    // // Set background of editor to a gradient
    // .markdown-source-view .cm-editor {
    //   background: linear-gradient(0deg, #e0e0e0e0, transparent)
    // }

  }

  #{$overlayClasses}.theme-dark {
    --luminence-mod-l: -5%;
    --text-selection: hsla(calc(var(--accent-h) + 30), var(--accent-s), var(--accent-l), 0.35);

    // // Set background of editor to a gradient
    // .markdown-source-view .cm-editor {
    //   background: linear-gradient(0deg, #000000e0, transparent)
    // }

    // .tree-item-self.is-active {
    // }
  }

  body#{$overlayClasses}#{$snippetClasses} {

    // Set variable for line width (used by app.css as of Obsidian 1.1)
    --file-line-width: 35em;
    --text-highlight-bg: hsla(calc(var(--accent-h) + 120),
        var(--accent-s),
        calc(var(--accent-l) + var(--luminence-mod-l)),
        0.8);
    --gdlf-search-background-color: var(--text-highlight-bg);
    --code-line-height-augment: 1.4;

    .theme-light,
    .theme-dark {
      // --font-family-editor: "Bookman Old Style", "Book Antiqua", "Bell MT", "OpenDyslexic Nerd Font", "Times New Roman", "Cascadia Code PL", Consolas, "Fira Code", monospace;
      // --font-family-preview: Verdana, Avenir Next, sans-serif;
      // --font-family-code: Consolas, monaco, monospace;
      --sidebar-collapsed-width: 1em;
      --sidebar-collapsed-color: inherit; // rgba(16, 108, 161, 0.774);
      // // This covers selected text in preview (bluish color) (also when window inactive)
      // --text-selection: rgba(0, 153, 255, 0.5);
      // Background color of status bar (I think)
      --status-color: rgba(127, 191, 221, 0.616);

      --hsl-test-var-no-use: #3fa5ee;

      // // A pretty green
      // --interactive-accent-h: 147; // color you want to see
      // --interactive-accent-s: 73%; // %
      // --interactive-accent-l: 52%; // %

      --interactive-accent-h: var(--accent-h); // color you want to see
      --interactive-accent-s: var(--accent-s);
      --interactive-accent-l: var(--accent-l);
    }

    // Make it so links show strikethrough when they have it
    .markdown-source-view.mod-cm6 .cm-link.cm-strikethrough .cm-underline,
    .markdown-source-view.mod-cm6 .cm-url.cm-strikethrough .cm-underline {
      text-decoration: inherit, underline;
    }

    // Make the restore stand out as "Restore"
    div.titlebar-button.mod-maximize[aria-label="Restore down"]::after {
      margin: -7px;
      font-size: 8px;
      content: '-';
    }

    .cm-s-obsidian .cm-cursor,
    .cm-s-obsidian .cm-dropCursor {
      border-left-width: 3px;
    }

    // Make bold today's day number as displayed
    //  in the month calendar for the Calendar
    //  plugin
    div.day.today {
      font-weight: bold;
    }

    // // Make it so *italics* have a slight push on the right
    // //  to keep text from kerning together with adjacent (e.g.) `*letter*s`
    // //  such that the 's' in letters wouldn't mash into the 'r'
    // // div.markdown-reading-view em {
    // div.app-container div.view-content>div.markdown-reading-view em {
    //   margin-right: 0.16ex;
    // }

    // Make it so the tilde (`) of inline code displays without extra width in padding
    //  It should make inline code easier to edit (without weird letter spacing)
    span.cm-formatting.cm-formatting-code.cm-inline-code.cm-list-2 {
      padding: 0;
    }

    // This is to correct for a thing with 1.6 where addition L/R padding was added for inline code
    //  making it look "wrong" to my eyes.
    .cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
      border-radius: 0;
      padding: 0.1em 0;
    }

    .is-flashing,
    .is-flashing *,
    .cm-s-obsidian span.obsidian-search-match-highlight {
      background-color: var(--gdlf-search-background-color);
      //background-color: hsla(calc(var(--accent-h) - 260), var(--accent-s), var(--accent-l), 0.45);
      //background-image: var(--gdlf-search-background-image);
      // background-blend-mode: var(--gdlf-search-background-blend-mode);
      border-radius: 0;
      box-shadow: none;
    }

    // Set a border around iframes so they aren't distracting
    span.cm-html-embed iframe {
      border-style: outset;
      border-color: var(--interactive-accent-base);
      border-width: 0.2ex;
    }

    // before link, show eyes for unresolved wiki links
    span.cm-hmd-internal-link>span.is-unresolved>a.cm-underline::before {
      // content: "😲";
      content: "👀";
    }

    // Reduce line-height for code blocks
    // // in editor
    .cm-line.HyperMD-codeblock {
      line-height: calc(var(--code-size) * var(--code-line-height-augment));
    }

    // // in preview (based on app.css as of 2024 01 05)
    code[class*="language-"],
    pre[class*="language-"] {
      line-height: calc(var(--code-size) * var(--code-line-height-augment));
    }
  }

  body .view-header {
    border-bottom: var(--divider-width) solid var(--divider-color);
  }

  // Add a line left and right of text to show left margin
  //  along with a little padding to keep text from running
  //  into those edges
  div.cm-sizer div.cm-contentContainer div[class="cm-content"] {
    border-left: 1px dashed var(--background-secondary-alt);
    border-right: 1px dashed var(--background-secondary-alt);
    padding-left: 2px;
    padding-right: 2px;
  }

  // Remove right and inline-end padding for line numbers`
  div.cm-sizer div.cm-contentContainer div[class="cm-gutters"] {
    padding-inline-end: 0px;
    padding-right: 0px;
  }

  // Add (some) right padding for line numbers
  div[class="cm-lineNumbers"] div[class="cm-gutterElement"] {
    // The following will keep the active-line background in
    //  the padding
    padding-right: calc(var(--file-folding-offset) * 0.3);
  }

  // Remove most of the padding-inline-start for ul, ol
  //  since I like it aligned further to the left
  .cm-formatting-list-ul,
  .cm-formatting-list-ol {
    padding-inline-start: 0.3ex;
  }

  // Make the selected item in the popup selection box display with a higher contrast
  .suggestion-item.is-selected {
    // // Obsidian default:
    // background-color: var(--background-modifier-hover);
    background-color: var(--text-highlight-bg);
  }

  div.workspace-tab-header-container {
    background: var(--background-primary-alt);
    background: var(--status-bar-border-color);
  }

  div.mod-sidedock div.workspace-tabs div.workspace-tab-header-container div.workspace-tab-header-container-inner {
    --right-sidebar-tab-background-width: 40ex;
    background-size: var(--right-sidebar-tab-background-width); // This makes side tabs have a same-width background, regardless of how many tab icons there are
    background-repeat: no-repeat;

    & div.workspace-tab-header.tappable.is-active {
      background: linear-gradient(180deg, #ffffff70 0.3ex, #ffffff40 0.1ex, var(--background-modifier-hover), transparent);
      border-top-left-radius: 0;
      // background: var(--background-modifier-hover);
      color: var(--text-normal);
    }
  }

  @keyframes heartbeat-of-gdlf {
    0% {
      background-size: var(--app-edge-background-size) var(--app-edge-background-size);
    }

    40% {
      // background-size: calc(var(--app-edge-background-size) * 270%) calc(var(--app-edge-background-size) * 270%);
      background-size: calc(var(--app-edge-background-size) + 10ex) calc(var(--app-edge-background-size) + 10ex);
    }

    50% {
      background-size: calc(var(--app-edge-background-size) + 3ex) calc(var(--app-edge-background-size) + 3ex);
    }

    65% {
      background-size: calc(var(--app-edge-background-size) + 7ex) calc(var(--app-edge-background-size) + 7ex);
    }

    75% {
    //   background-size: calc(var(--app-edge-background-size) * 100%) calc(var(--app-edge-background-size) * 100%);
      background-size: var(--app-edge-background-size) var(--app-edge-background-size);
    }

    // 80% {
    //   background-size: calc(var(--app-edge-background-size) * 100%) calc(var(--app-edge-background-size) * 100%);
    // }
  }

  // Change background size for root tab container, which is the one with docs
  div.horizontal-main-container div.mod-root div.workspace-tab-header-container div.workspace-tab-header-container-inner {
    // Angle down 
    background: linear-gradient(135deg, var(--gdlf-oil-slick));
    background-repeat: no-repeat;
    // animation: var(--animation-for-app-edge-background);
    background-size: var(--app-edge-background-size) var(--app-edge-background-size);
  }

  // Affects all horizontal tabs, so documents and leaf tabs
  div.horizontal-main-container div.workspace-tab-header-container div.workspace-tab-header-container-inner {
    // Because of specificity, this doesn't impact the mod-root background, but I should specify more here so it doesn't touch .mod-root at all
    background: linear-gradient(90deg, var(--gdlf-oil-slick));
    background-attachment: local;
    border-radius: 1.3ex; // nice n' round on Win11 with HD scren ymmv
    background-repeat: no-repeat;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-clip: padding-box;

    // Make sure icon color is applied to all header icons
    & div.workspace-tab-header-inner-icon {
      color: var(--icon-color);
    }
  }

  // I want to get the above hue effect on the left sidebar (the one vertical rainbow background, so far)
  div.horizontal-main-container div.workspace-ribbon.side-dock-ribbon.mod-left {
    background: var(--status-bar-border-color) linear-gradient(135deg, var(--gdlf-oil-slick));
    background-attachment: local;
    border: 1px solid var(--status-bar-border-color);
    border-radius: 1.3ex; // nice n' round on Win11 with HD scren ymmv
    background-repeat: no-repeat;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    // animation: var(--animation-for-app-edge-background);
    background-size: var(--app-edge-background-size) var(--app-edge-background-size);
  }

  // Touch only the the top (and rows of) document tabs showing doc filename
  div.workspace-tab-header.tappable div.workspace-tab-header-inner div.workspace-tab-header-inner-title {
    border: 2px solid hsla(var(--interactive-accent-hsl), 0.25);
    border-radius: 1.2ex;
    border-top-width: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 2px solid transparent;
    border-bottom: none;
    padding-top: 0.5ex;
    //background-size: var(--app-edge-background-size) auto;
    background-size: var(--app-edge-background-size) var(--app-edge-background-size);
  }

  // Make small tabs display without rounded bottom edges
  div.mod-left-split .workspace-tab-header,
  div.mod-right-split .workspace-tab-header {
    border-radius: 0;
    background-origin: padding-box;
    background-origin: border-box;
    // background-position: top left;
  }

  // Update status bar corners
  div.app-container div.status-bar {
    border-top-left-radius: 0;
  }

  /*
  Works against the expand/collapse icon (button) for the left
   and right leaf
  
  - Thickens the stroke of the icon for leaf expand/collapse button
  - Adds a little leaf emoji (icon) after left button and 
     before the right button
  - Adds a hover effect covering the mod-left / mod-right div 
  - Removes a hover effect for only the clickable-icon
  */
  div.sidebar-toggle-button.mod-right div svg,
  div.sidebar-toggle-button.mod-left div svg {
    stroke-width: 13%;
  }

  // Add pretty leaves to left/right sidebar toggle buttons
  div.sidebar-toggle-button.mod-right::before,
  div.sidebar-toggle-button.mod-left::after {
    margin: auto;
    font-size: 65%;
    content: "🍃";
  }

  div.workspace-ribbon.side-dock-ribbon.mod-left div.sidebar-toggle-button.mod-left {
    background: #ff000060; // directly related to --gdlf-oil-slick
    border-radius: 0.8ex;
    border-bottom-right-radius: 0;
  }

  // Make it so my custom before/after icon 
  //  and the clickable-icon div show one
  //  hover background.
  div.sidebar-toggle-button.mod-right:hover,
  div.sidebar-toggle-button.mod-left:hover {
    background: var(--background-modifier-hover);
    border-radius: 1ex; // round it, too
  }

  // Since I'm overriding default clickable-icon behavior, 
  //  I'm removing the default background change on hover
  div.sidebar-toggle-button.mod-right,
  div.sidebar-toggle-button.mod-left {
    & div:hover {
      background: revert;
    }
  }

  // // With the following, I *could* make span.cm-blockid hidden or display:none,
  // //  but doing so doesn't keep the UX from interacting with the element
  // //  when moving the caret/cursor around with arrow keys.
  // .cm-s-obsidian span.cm-blockid {
  //   visibility: hidden;
  // }

  // // Replace pin SVG with pushpin emoji
  // div.workspace-tab-header-status-icon.mod-pinned{
  //   svg { 
  //     visibility: hidden;
  //     margin-right: -1.2em;
  //   }
  //   &::after {
  //     content: '📌'
  //   }
  // }
  // // Replace the close button SVG with 'X' emoji
  // div.workspace-tab-header-inner-close-button{
  //   svg { 
  //     visibility: hidden;
  //     margin-right: -1.1em;
  //   }
  //   &::after{
  //     content: '❌'
  //   }
  // }
  // Instead of all of the above, I think it's easier to do this to get
  //  what I want, which is a skewed pushpin like 📌, but unlike
  //  the Windows 11 version of that emoji, it's at 30 instead of 45 degrees
  div.workspace-tab-header-status-icon.mod-pinned svg {
    transform: rotate(30deg);
  }

  // For Navigate backward/forward buttons when 
  //  they are not available because the tab hasn't navigated
  //  forward yet to create a trail of breadcrumbs.
  //  I'm hoping it doesn't affect too much else.
  //
  // When I hover over a button, I don't like it when the cursor 
  // (mouse pointer) shows a large 🚫 (no entry / do not enter) sign.
  // My feeling is the the UX gives enough clues with highlighting to
  //  let me know I can't go back.
  button[disabled], button[aria-disabled="true"], button[disabled="true"]{
    cursor:auto;
  }
}