// Mods that I tested and left here and/or mods that
//  don't yet have a more specific file or
//  style setting
// Mostly, this should be specific to my vault
@mixin add-classes($snippetClasses: "") {
  body#{$snippetClasses} {

    // Hide anything under a frame from being clicked
    div.glk-noclick {
      position: absolute;
      // width: var(--max-doc-width);
      background-color: #00330000;
      /* HTML for an example usage, which displays a #mem 
  <div class="glk-noclick" style="height:35vh;"></div>
	<iframe src="https://mem.ai/m/5PAXl5ldf3aWAG2uI3FI" style="width:100%;height:35vh;border:none"></iframe>
  */
    }

    // Make hr split for 'new topic' (the --- in Markdown) into a heavier line
    div > div.hr.cm-line > hr {
      border: 3px solid var(--interactive-accent);
    }

    // Make sure to wrap code lines within blocks
    .theme-dark code[class*="language-"],
    .theme-dark pre[class*="language-"],
    .theme-light code[class*="language-"],
    .theme-light pre[class*="language-"] {
      white-space: pre-wrap;
    }

    // .footnotes-list {
    //   font-size: var(--font-adaptive-small);
    // }

    /* Change the "Current view" button for which view is selected*/
    // First, dark theme vars specified to the button
    &.theme-dark button.clickable-icon.view-action[aria-label^="Current view: "] {
      --current-view-color: black;;
      --reading-current-view-bg-color: #00a000c0;
      --editing-current-view-bg-color: #ffff00f0;
    }
    // ...light theme vars specified to the button
    &.theme-light button.clickable-icon.view-action[aria-label^="Current view: "] {
      --current-view-color: black;;
      --reading-current-view-bg-color: #00a000c0;
      --editing-current-view-bg-color: #ffe600;
    }
    // ...the Current View view-action button customization
    button.clickable-icon.view-action[aria-label^="Current view: "] {
      &[aria-label~="reading"] {
        background: var(--reading-current-view-bg-color);
        color: var(--current-view-color);
        border: 1px solid var(--text-accent);
      }
      &[aria-label~="editing"] {
        background: var(--editing-current-view-bg-color);
        color: var(--current-view-color);
        border: 1px solid var(--text-accent);
      }
    }

    // Make sure checkboxes have --text-accent for their border color
    .markdown-preview-view,
    .markdown-source-view.is-live-preview {
      input.task-list-item-checkbox {
        // input.task-list-item-checkbox { //[type=checkbox] {
        border: 2px solid var(--text-accent);
      }
    }

    // Tags that are not collapsible (i.e. have no subtags)
    //  display with a bullet, which is `#u2022;` in html
    //  with a heavy font-weight
    // This aligns them with items that *do* have subtags
    //  without making the time seem like a subtag of
    //  the collapsible tag above or below it
    .tree-item-self.tag-pane-tag.is-clickable:not(.mod-collapsible)::before {
      // content: '\2043'; // unicode 'hyphen bullet'
      font-weight: 900;
      content: "\2022";
      color: var(--nav-collapse-icon-color);
      width: 2ex;
    }

    // Change view-header height (default is 40px as of 2023 04 19)
    --header-height: 30px; // anything lower than this cuts off icons
    // Change view-header-title-container a.k.a. titlebar height (2023 04 21)
    --titlebar-height: var(--header-height);

    // .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
    //   // margin-right: auto; // same as app.css
    //   // padding-right: 1em;
    // }
    // .markdown-source-view.mod-cm6 .cm-sizer {
    //   width: 110%; // no observed effect
    //   align-items: stretch;
    // }
  }
}
