// This makes it so primary background (documents) shows as a tone of 
// the selected accent color
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  body#{$overlayClasses}#{$snippetClasses}:is(.theme-dark) {
    // Trying to include cool background color based on accent...
    --background-primary: hsl(var(--accent-h), 100%, 7%);
    --background-primary-alt: hsl(var(--accent-h), 100%, 20%);
  }
  body#{$overlayClasses}#{$snippetClasses}:is(.theme-light) {
    --background-primary: hsl(var(--accent-h), 100%, 96%);
    --background-primary-alt: hsl(var(--accent-h), 100%, 90%);
  }
}
