// work-vault
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  
  body {
    --saturation-mod-s: 0;
  }
  #{$overlayClasses}.theme-light {
    --saturation-mod-s: -35%;
  }
  #{$overlayClasses}.theme-dark {
    --saturation-mod-s: -30%;
  }

  body#{$overlayClasses}#{$snippetClasses} {
    // For 2022 editor (while also previewing)
    div.cm-active.cm-line,
    div.cm-content div.cm-active.cm-line.HyperMD-list-line {
      --active-background-color-2: hsla(var(--accent-h), 70%, calc(var(--accent-s) + var(--saturation-mod-s)), 4%);
      --active-background-color-3: hsla(var(--accent-h), 90%, calc(var(--accent-s) + var(--saturation-mod-s)), 8%);
      --active-background-color-1: hsla(var(--accent-h), 70%, calc(var(--accent-s) + var(--saturation-mod-s)), 12%);

      // Make it gradient, which I think is nicer
      background: linear-gradient(
        0deg,
        var(--active-background-color-3) 5%,
        var(--active-background-color-2) 25%,
        var(--active-background-color-1) 70%
      ); 

      // background-color: var(--active-background-color-1);
      border-radius: 0.5ex;
    }

    // Copied from theme "Cyber Glow" 20221122 1532
    // This highlights the active line number
    .markdown-source-view .cm-gutters .cm-lineNumbers div.cm-gutterElement.cm-active {
      background: hsla(var(--accent-h), 100%, calc(var(--accent-s) - 30%), 0.1);
      border-radius: 0.5ex;
    }

  }
}