// gdlf make bold, italic related to hue of end-user's selected accent color 
@mixin add-classes($overlayClasses: '', $snippetClasses: '') {

.theme-light {
  --bold-italic-adjust-l: -5%; //calc(var(--accent-l) * 0.5);
  --bold-italic-adjust-s: 0.4; 
}
.theme-dark {
  --bold-italic-adjust-l: 10%; //calc(var(--accent-l));// * 0.5);
  --bold-italic-adjust-s: 0.3; 
}

body#{$overlayClasses}#{$snippetClasses} {
  --bold-filler-not-a-color: blue;
  // // GDLF: As of 2024 06 07, I'd like to make this optional. Instead, I'm removing it.
  // --bold-color: hsl(
  //   calc(var(--accent-h) - 7),
  //   calc(var(--accent-s) * var(--bold-italic-adjust-s)),
  //   calc(var(--accent-l) + var(--bold-italic-adjust-l))
  // ); // + var(--bold-italic-adjust-l)));
  // --italic-color: hsl(
  //   calc(var(--accent-h) + 15),
  //   calc(var(--accent-s) * var(--bold-italic-adjust-s)),
  //   calc(var(--accent-l) + var(--bold-italic-adjust-l))
  // ); // + var(--bold-italic-adjust-l)));

  // strong,
  // .cm-strong {
  //   color: var(--bold-color);
  // }
  // em,
  // .cm-em {
  //   color: var(--italic-color);
  // }
}

// conditionally, I'd like to do the same thing as above, but only within the body class/tag identifier

}