// work-vault
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  body {
    --saturation-mod-s: 0%;
    --opacity-mod-s: 0%;
  }

  #{$overlayClasses}.theme-light {
    --saturation-mod-s: -35%;
  }

  #{$overlayClasses}.theme-dark {
    --saturation-mod-s: 20%;
    --opacity-mod-s: 4%;
  }

  body#{$overlayClasses}#{$snippetClasses} {
    --activeline-border-radius: 0.9ex;
    --active-background-color-2: hsla(var(--accent-h), 60%, calc(var(--accent-s) + var(--saturation-mod-s)), calc(4% + var(--opacity-mod-s)));
    --active-background-color-3: hsla(var(--accent-h), 90%, calc(var(--accent-s) + var(--saturation-mod-s)), calc(8% + var(--opacity-mod-s)));
    --active-background-color-1: hsla(var(--accent-h), 70%, calc(var(--accent-s) + var(--saturation-mod-s)), calc(12% + var(--opacity-mod-s)));

    // For 2022 editor (while also previewing)
    // // This is for the text being edited
    // div.cm-active.cm-line,
    // div.cm-content div.cm-active.cm-line.HyperMD-list-line {

    //   // Make it gradient, which I think is nicer
    //   background: linear-gradient(0deg,
    //       var(--active-background-color-3) 5%,
    //       var(--active-background-color-2) 25%,
    //       var(--active-background-color-1) 70%);
    //   animation: heartbeat 1.3s linear infinite;

    //   // background-color: var(--active-background-color-1);
    //   border-radius: var(--activeline-border-radius);
    //   border-top-left-radius: 0;
    //   border-bottom-left-radius: 0;
    // }

    .markdown-source-view.mod-cm6 .cm-gutters {

      // Copied from theme "Cyber Glow" 20221122 1532
      // This highlights the active line number
      // Adjusting how line numbers display, reducing
      //  empty space created by the gutter's right inline margin
      margin-inline-end: 0;
    }

    .markdown-source-view .cm-gutters .cm-lineNumbers div.cm-gutterElement {
      // --gdlf-gutter-margin-right: 1.2ex;
      --gdlf-gutter-padding-right: 2ex;
      --gdlf-gutter-border-right: 2px;
      --gdlf-gutter-border-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
      padding-right: var(--gdlf-gutter-padding-right);
      // margin-right: var(--gdlf-gutter-margin-right);
      border-right: 3px solid transparent;


      // This is for the gutter element to match the active text element, above
      // Make the background match the linear-gradient I use for the other part of this cm-active line highlighting
      &.cm-active {
        --amplitude: 100%;

        @keyframes heartbeat {

          /* Adapted from a web search, this seems to have the correct timing */
          0%,
          30%,
          100% {
            // transform: scale(1) rotate(-45deg); //ORIG
            // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 30%));
            border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 0.5));
          }

          40% {
            // transform: scale(0.95) rotate(-45deg); //ORIG
            --pwave: -3%;
            // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 25%));
            border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 0.416));
          }

          50% {
            // transform: scale(1.2) rotate(-45deg); //ORIG
            --qrswave: 10%;
            // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 60%));
            border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 1.0));
          }

          65% {
            // transform: scale(0.9) rotate(-45deg); //ORIG
            --twave: -5%;
            // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 20%));
            border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 0.333));
          }

          75% {
            // transform: scale(1.05) rotate(-45deg); //ORIG
            --uwave: 2.5%;
            // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 35%));
            border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 0.583));
          }
        }

        animation: heartbeat 1.5s ease-in-out infinite;

        background: linear-gradient(0deg,
          var(--active-background-color-3) 5%,
          var(--active-background-color-2) 25%,
          var(--active-background-color-1) 70%);


        border-radius: var(--activeline-border-radius);
        border-top: 0; // may not be needed (having it 0 removes a visual fragment between gutter active line highlight and in-text active line highlight
        border-bottom: 0; //1px solid var(--background-secondary-alt);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  // // Tried bringing back a way I did the gutter right border for the active line (left) border as well
  div.cm-sizer div.cm-contentContainer div.cm-content div.cm-line {
  //     --active-line-border-left-size: 2px;
    padding-left: 0.3ex;
  //   border-left: var(--active-line-border-left-size) solid transparent;


    // &.cm-active {
  //     --amplitude: 100%;
  //     --gdlf-active-line-border-hsl: var(--accent-h), var(--accent-s), var(--accent-l);

  //     @keyframes left-heartbeat {

  //       /* Adapted from a web search, this seems to have the correct timing */
  //       0%,
  //       30%,
  //       100% {
  //         // transform: scale(1) rotate(-45deg); //ORIG
  //         // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 30%));
  //         border-left: var(--active-line-border-left-size) solid hsla(var(--gdlf-active-line-border-hsl), calc(var(--amplitude) * 0.5));
  //       }

  //       40% {
  //         // transform: scale(0.95) rotate(-45deg); //ORIG
  //         --pwave: -3%;
  //         // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 25%));
  //         border-left: var(--active-line-border-left-size) solid hsla(var(--gdlf-active-line-border-hsl), calc(var(--amplitude) * 0.416));
  //       }

  //       50% {
  //         // transform: scale(1.2) rotate(-45deg); //ORIG
  //         --qrswave: 10%;
  //         // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 60%));
  //         border-left: var(--active-line-border-left-size) solid hsla(var(--gdlf-active-line-border-hsl), calc(var(--amplitude) * 1.0));
  //       }

  //       65% {
  //         // transform: scale(0.9) rotate(-45deg); //ORIG
  //         --twave: -5%;
  //         // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 20%));
  //         border-left: var(--active-line-border-left-size) solid hsla(var(--gdlf-active-line-border-hsl), calc(var(--amplitude) * 0.333));
  //       }

  //       75% {
  //         // transform: scale(1.05) rotate(-45deg); //ORIG
  //         --uwave: 2.5%;
  //         // border-right: var(--gdlf-gutter-border-right) solid hsla(var(--gdlf-gutter-border-hsl), calc(var(--amplitude) * 35%));
  //         border-left: var(--active-line-border-left-size) solid hsla(var(--gdlf-active-line-border-hsl), calc(var(--amplitude) * 0.583));
  //       }
  //     }

  //     animation: left-heartbeat 1.5s ease-in-out infinite;
  //   }
  }
}