// Tag pills taken from Obsdn-Dark-Rmx
// 2023 01 11 - GDLF: This is two features
//  1. putting a round "pill" background on tags in document text
//  2. coloring tags based on tag name
//  These should be separate with this file keeping the round background code
// class for this is (below)
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  body#{$overlayClasses}:is(.theme-dark) {
    // --tag-text-color: var(--background-primary);
    --tag-text-color: var(--text-normal);
  }
  body#{$overlayClasses}:is(.theme-light) {
    --tag-text-color: var(--text-normal);
  }
  body#{$overlayClasses}#{$snippetClasses} {
    // Editor tags display to be seen in editor

    .cm-hashtag.cm-hashtag-end, .cm-hashtag.cm-hashtag-begin {
      position:relative;
      top: 0.4ex;
      vertical-align: top;
      font-weight: 600;
      color: var(--tag-text-color);
      border-radius: 1.7ex;
      padding-top: 0.3ex; 
      // padding-bottom: 0.2ex;
    }
    // this is the '#' of the tag
    .cm-hashtag.cm-hashtag-begin {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 0.5ex;
      // margin-left: -0.5ex;
      padding-right: 0.2ex;
      margin-left: -0.4ex;
    }
    // this is the text portion of the tag
    .cm-hashtag.cm-hashtag-end {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-right: 0.3ex;
      //padding-left: 0.1ex;
      //margin-right: -0.5ex;
      margin-right: -0.2ex;
    }
    // on hover, show underline
    .cm-hashtag.cm-hashtag-end:hover,
    .cm-hashtag.cm-hashtag-begin:hover{
      text-decoration: underline;
      outline: 0.2ex solid hsl(var(--accent-h), var(--accent-s), var(--accent-l))
    }

    // Tags in Preview (where pills will show)
    .tag {
      // cursor: pointer;
      // background-color: var(--tag-default-bg-color);
      border: none;
      color: var(--tag-text-color);
      // font-size: var(--tag-font-size);
      line-height: 1.4em;
      text-align: center;
      text-decoration: none;
      font-style: normal;
      display: inline-block;
      border-radius: 1.7ex;
      padding: 0 0.3ex 0 0;
      margin: 0.1ex 0 0 -0.2ex;
      margin-top: 1.2ex;
      border-bottom-width: 0.2ex; // not sure this has an effect
      position: relative;
      top: -0.1em;
    }
    // default
    .tag:hover {
      border-style: dashed;
      outline: 0.3ex solid hsl(var(--accent-h), var(--accent-s), var(--accent-l))
    }

    // .theme-light and .theme-dark have different hover effects
    .theme-light .tag:hover {
      filter: drop-shadow(0.25rem 0 0.75rem var(--hover-color));
    }
    .theme-dark .tag:hover {
      filter: drop-shadow(0.25rem 0 0.75rem var(--hover-color));
    }
  }
}
