@mixin add-classes($overlayClasses: '', $snippetClasses: '') {
body#{$overlayClasses}#{$snippetClasses} {
  span.cm-foldPlaceholder::after {
    // color: red; //FLARE!!!
    font-weight: 900;
    // font-size:90%;
    // content: 'A';
    // content: '➕';
    // content: '+';
    // content: '∴≫≣≡≻⊕⊞⊿⋇⋗⋑⋙⋺⋱⊾';
    // content: '⊾';
    // content: '⊕';
    content: "⊞";

    vertical-align: sub;
  }

  div.HyperMD-header {
    //}:has(div.cm-fold-indicator.is-collapsed) {
    border-bottom: 3px dotted var(--interactive-accent-base);
  }
}
}