// This may only work with Advanced Appearance "Default" settings
//  for Light and Dark modes (only tested in those two modes)
// CONFIRMED: No longer works with use of *native cursor caret*
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  body#{$overlayClasses}#{$snippetClasses} {
    --rainbow-image-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAOCAYAAADuQ3ZcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAA0SURBVBhXY3gro/KfiQEImISSmRnALIb/nxigYsr7faBiDIteQMXslz2BiDGlMN4AsRgYANawDGjt96QeAAAAAElFTkSuQmCC);
    --ye-rainbow-width: 1ex;

    .theme-dark {
      // --foreground-blink-color: #414141;
      --foreground-blink-color: black;
    }
    .theme-light {
      --foreground-blink-color: white;
    }

    // // vim COMMAND mode cursor (classes pulled directly from web dev tools)
    // //  this only applies when cursor or focus is active in another app window
    // .ͼo:not(.cm-focused) .cm-fat-cursor, .cm-fat-cursor, .cm-animate-fat-cursor {
    //   // Displays a 2px per color vertical rainbow 1px wide that repeats
    //   background-image: var(--rainbow-image-url) !important;
    //   background-repeat: repeat;
    //   background-size: contain !important;
    //   color: var(--foreground-blink-color);
    //   min-width: var(--ye-rainbow-width);
    // }

    .ͼo.cm-focused .cm-fat-cursor, .cm-fat-cursor, .cm-animate-fat-cursor {
      // opacity: 0.7; // I like it pastel a bit, but it dulls the foreground, too, which isn't ideal
      background-image: var(--rainbow-image-url) !important;
      background-repeat: repeat;
      background-size: contain !important;
      color: var(--foreground-blink-color);
      min-width: var(--ye-rainbow-width);
    }
  }
}