// This may only work with Advanced Appearance "Default" settings
//  for Light and Dark modes (only tested in those two modes)
// CONFIRMED: No longer works with use of *native cursor caret*
@mixin add-classes($overlayClasses: "", $snippetClasses: "") {
  body#{$overlayClasses}#{$snippetClasses} {
    --rainbow-image-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAOCAYAAADuQ3ZcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAA0SURBVBhXY3gro/KfiQEImISSmRnALIb/nxigYsr7faBiDIteQMXslz2BiDGlMN4AsRgYANawDGjt96QeAAAAAElFTkSuQmCC);
    --ye-rainbow-width: 1ex;

    .theme-dark {
      // --foreground-blink-color: #414141;
      --foreground-blink-color: black;
    }

    .theme-light {
      --foreground-blink-color: white;
    }

    // .cm-fat-cursor,
    // .cm-animate-fat-cursor,
    .cm-focused .cm-fat-cursor {
      // opacity: 0.7; // I like it pastel a bit, but it dulls the foreground, too, which isn't ideal
      background-image: var(--rainbow-image-url) !important;
      // background-repeat: repeat;
      background-size: contain !important;
      border-radius: 0.25ex; // round it out a pinch
      color: var(--foreground-blink-color);
      min-width: var(--ye-rainbow-width);
    }

    // // The following will cause a reverse rainbow to appear
    // //  blinking for some pages in the top right corner of 
    // //  text content when editing. It doesn't do anything 
    // //  useful, imo. (Leaving this comment until I remove the following)
    // div.cm-editor div.cm-scroller.cm-vimMode div.cm-cursorLayer.cm-vimCursorLayer {
    //   background-image: var(--rainbow-image-url) !important;
    //   content: 'X';
    //   width: 1ex;
    //   height: 1ex;
    //   z-index: 10000;
    // }

  }
}